* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-color: #f0f2f5;
}

.header {
    width: 100%;
    height: 90px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    color: #1877f2;
    font-size: 52px;
    font-weight: bold;
    letter-spacing: -1px;
}
